# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Docker & Infrastructure
.mmdb
secrets/
*.tar

# OS specific
.DS_Store
Thumbs.db

# Ignore all build folders in any sub-directory
**/target/
**/*.class